{%extends 'design.html'%}
<html>
    <head>
        <title></title>
    </head>
    <body>
        {%block content%}
        <form action="" method="post">
        {% csrf_token %}
        Name <input type="text" name="name" /><br></br>
        Email <input type="email" name="email" /><br></br>
        Mobile <input type="number" name="mobile" /><br></br>
        Address<input type="text" name="address" /><br></br>
        Gender <input type="radio" name ="gch" value="male" />male <input type="radio" name="gch" value="female" />Female</td><input type="radio" name="gch" value="other" />Other</td><br></br>
        Qualification <input type="text" name="qualification" /><br></br>
        Branch <select name="bch">
            <option>---</option>
            <option>cs</option>
            <option>it</option>
            <option>mech</option>
            <option>civil</option>
            <option>ec</option>
            <option>nonit</option>
        </select><br></br>
        Year  <select name="ych">
            <option>---</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>passout</option>
        </select><br></br>
        Sem  <select name="sch">
            <option>---</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>passout</option>
        </select><br></br>
        COLLEGE<input type="text" name="clg" /><br><br>
        Status <select name="ch">
            <option>---</option>
            <option>enquiry</option>
            <option>joined</option>
            <option>complete</option>
        </select>
        <br></br>
        <input type="submit" value="Addstudent" />
    </form>
    {%endblock%}
    </body>
</html>