{%extends 'design.html'%}
<html>
    <head>
        <title></title>
    </head>
    <body>
        <!--
              <a href="addstudent">AddStudent</a>
        <a href="addaccount">AddAccount</a>
        <a href="showaccount">ShowAccount</a>
        <a href="addtrainer">AddTrainer</a>
        <a href="showtrainer">ShowTrainer</a>
        <a href="addtrainer">AddTrainer</a>
        <a href="addbatch">AddBatch</a>
        <a href="showbatch">ShowBatch</a>
        <a href="addcourse">AddCourse</a>
        <a href="showcourse">ShowCourse</a>
        -->
        {%block content%}
            
        {%endblock%}
    </body>
</html>