<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1 align="center">Batch</h1>
        <table align='center' border='1px'>
            <tr>
                <th>ID</th>
                <th>BNAME</th>
                <th>TIMING</th>
                <th>START_DATE</th>
                <th>STATUS</th>
                <th>TRAINER</th>
                <th>STUDENT</th>
            </tr>
            {%for i in bt%}
            <tr>
                <th><input type="hidden" name="id" value="{{i.id}}" />{{i.id}}</th>
                <th><input type="text" name="bname" value="{{i.bname}}" /></th>
                <th><input type="text" name="timing" value="{{i.timing}}" /></th>
                <th><input type="text" name="startdate" value="{{i.startdate}}" /></th>
                <th><input type="text" name="status" value="{{i.status}}" /></th>
                <th><select name="Trainer">
                    <option value="{{i.Trainer.id}}">{{i.Trainer.tname}}</option>
                    {%for j in tr %}
                        <option value="{{j.id}}">{{j.tname}}</option>
                    {%endfor%}
                    </select></th>
                <th><select name="Student" multiple>
                    <option value="{{i.student.id}}">{{i.student.name}}</option>
                    {%for k in st %}
                        <option value="{{k.id}}">{{k.name}}</option>
                    {%endfor%}
                    </select></th>
                <th><input type="submit" value="updatebatch" /></th>
                <th><a href="deletebatch?id={{i.id}}">Delete</a></th>

            </tr>

            {%endfor%}
        </table>

    </form>
    </body>