<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1 align="center">Account</h1>
        <table align='center' border='1px'>
            <tr>
                <th>ID</th>
                <th>Totalfees</th>
                <th>first_installment</th>
                <th>first_installment_date</th>
                <th>second_installment</th>
                <th>second_installment_date</th>
                <th>remaining_fees</th>
                <th>course</th>
                <th>student</th>
            </tr>
            {%for i in Ac%}
            <tr>
                <th><input type="hidden" name="id" value="{{i.id}}" />{{i.id}}</th>
                <th><input type="text" name="tfees" value="{{i.total_fees}}" /></th>
                <th><input type="text" name="finst" value="{{i.first_installment}}" /></th>
                <th><input type="text" name="finst_date" value="{{i.first_installment_date}}" /></th>
                <th><input type="text" name="sinst" value="{{i.second_installment}}" /></th>
                <th><input type="text" name="sinst_date" value="{{i.second_installment_date}}" /></th>
                <th><input type="text" name="remainfee" value="{{i.remaining_fees}}" /></th>
                <th><select name="Course">
                    <option value="{{i.course.id}}">{{i.course.cname}}</option>
                    {%for j in cour %}
                        <option value="{{j.id}}">{{j.cname}}</option>
                    {%endfor%}
                </select></th>
                <th><select name="Student">
                    <option value="{{i.student.id}}">{{i.student.name}}</option>
                    {%for k in stu %}
                        <option value="{{k.id}}">{{k.name}}</option>
                    {%endfor%}
                </select></th>
                <td><input type="submit" value="update" /></td>
                <th><a href="deleteaccount?id={{i.id}}">Delete</a></th>

            </tr>

            {%endfor%}
        </table>
    </form>
    </body>